/*----table-----
.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-header-cell {
  text-align: center;
}

td {
  text-align: center;
}
*/

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar
{
  color: red;
}
